<?xml version="1.0"?>
<robot name="pusher">
  <link name="pusher_base_link">
    <contact>
      <lateral_friction value="0.25"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.8"/>
      <inertia ixx="1e-3" ixy="0" ixz="0" iyx="0" iyy="1e-3" iyz="0" izx="0" izy="0" izz="0.001231"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="meshes/tool.stl"/> -->
        	<cylinder length="0.01275" radius="0.010"/>
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <!-- <mesh filename="meshes/tool.stl"/> -->
        	<cylinder length="0.01275" radius="0.010"/>
      </geometry>
      <material name="Grey"/>
    </collision>
  </link>
</robot>
